/* =================================== SECTION FONT FAMILY =================================== */

@font-face{
	font-family: "Open-Sans Custom";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Bebas-Neue Custom";
  src: url("../fonts/Open_Sans/BebasNeue-Regular.ttf") format("truetype");
}

/* =================================== END SECTION FONT FAMILY =================================== */



.font-white
{
	color: white!important;
}

.link-white a
{
	color: white!important;
}



.h1-c
{
	font-size: 5rem;
	font-weight: bold;
}

.h2-c
{
	font-size: 36px;
	font-weight: bold;
}

.h3-c
{
	font-size: 24px;
	font-weight: bold;
}