body
{
	/* background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat; */
}


/* =================================== SECTION NAVBAR =================================== */
.nav-custom
{
	width: 100%;
	background-color:rgba(0, 0, 0, 0.4);
}

.main-button
{
	font-family: Open-Sans Custom;
	font-weight: bold;
	font-size: 16px;
}

.nav-font
{
	font-family: Open-Sans Custom;
	font-weight: bold;
	font-size: 12px;
}

/* =================================== END SECTION NAVBAR =================================== */



/* =================================== SECTION HEADER =================================== */
.header
{
	width: 100%;
	background-color: red;
}

.bg
{
	height: 100vh;
	width: 100%;
	background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}

.textbg
{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}

.text-above {
  position: absolute;
	top: 50%;
}
/* =================================== END SECTION HEADER =================================== */


/* =================================== SECTION ABOUT =================================== */
.about
{
	height: 100vh;
	width: 100%;
	background-image: url("../images/the-games-bg.jpg");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}

/* =================================== END SECTION ABOUT =================================== */


/* ===================================  SECTION GAME FEATURES =================================== */
.game-features
{
	height: 100vh;
	width: 100%;
	background-image: url("../images/features.jpg");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}
/* =================================== END SECTION GAME FEATURES  =================================== */


/* ===================================  SECTION SISTEM REQUIREMENTS  =================================== */
.sistem-requirements
{
	height: 100vh;
	width: 100%;
	background-size: 100% 100%;
	background-image: url("../images/requirements.png");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}
/* =================================== END SECTION SISTEM REQUIREMENTS  =================================== */


/* =================================== END SECTION TOP SCORES  =================================== */
.top-scores
{
	height: 100vh;
	width: 100%;
	background-size: 100% 100%;
	background-image: url("../images/top-score-bg.png");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}
/* =================================== END SECTION TOP SCORES  =================================== */


/* ===================================  SECTION SUBSCRIBE  =================================== */
.subscribe
{
	height: 100vh;
	width: 100%;
	background-size: 100% 100%;
	background-image: url("../images/newsletter.png");
  background-repeat: no-repeat;
	/* background-attachment: fixed; */
  background-position: center;
}

.bgsubscribe
{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../images/skull.png");
}
/* =================================== END SECTION SUBSCRIBE  =================================== */







/* =================================== OTHER =================================== */
.padding0
{
	padding: 0px!important;
}



/* =================================== END OTHER =================================== */